version: '2'
services:

  vscode:
    build:
      context: ./
    environment:
      - "DISPLAY=${DISPLAY}"
      - "MYUSERNAME=abner"
      - "MYUID=1000"
      - "MYGID=1000"
    hostname: intellij
    tty: true
    stdin_open: true
    network_mode: host 
    volumes:
      - ${HOME}:${HOME}
      - /mnt/filer/work:/mnt/filer/work
      - /tmp/.X11-unix:/tmp/.X11-unix
    command: vscode
